
<div class="navbar d-flex">
    <div class="logo"></div>
    <h3 class="text">Bem Vindo ao YouSchool! <a href="/" class="link">entre</a> para continuar</h3>
    <nav>
        <a href="#home" class="navitem hover-underline-animation me-4">Home</a>
        <a href="#home" class="navitem hover-underline-animation me-4">Sobre nós</a>
        <a href="#home" class="navitem hover-underline-animation me-4">Planos</a>
        <a href="#home" class="navitem hover-underline-animation">Entrar</a>
    </nav>
</div>
